*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin: 10px;
}

.logo{
    height: 100px;
}

.logo > img{
    height: 100px;
}

.nav-items > ul{
    display: flex; 
    font-size: large;
    list-style-type: none;
    padding: 10px;
}

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
}

.res-card{
    width: 234px;
    height: auto;
    margin: 10px;
    background: #f0f0f0f0;
}

.res-card,.filter-btn:hover, .search-btn:hover{
    cursor: pointer;
    border: 2px solid black;
}

.res-name{
    text-align: center;
}

.filter-btn, .search-btn{
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}

.res-container, 
.shimmer-container{
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.shimmer-card{
    width: 234px;
    height: 390px;
    margin: 10px;
    background: #f0f0f0f0;
}

.login-btn{
    width: 100px;
    margin: 10px;
    padding: 5px;
    background-color: rgb(235, 130, 18);
    border-radius: 6px;
}

.login-btn:hover{
    cursor: pointer;
    background-color: rgb(245, 212, 92);
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}

.input-txt{
    padding: 5px;
    height: 30px;
    border-color: orange;
    border-radius: 5px;
}

.search-btn{
    width: 100px;
}