*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin: 10px;
}

.logo{
    height: 100px;
}

.logo > img{
    height: 100px;
}

.nav-items > ul{
    display: flex; 
    font-size: large;
    list-style-type: none;
    padding: 10px;
}

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
}

.res-card{
    width: 234px;
    height: auto;
    margin: 10px;
    background: #f0f0f0f0;
}

.res-card,.filter-btn:hover{
    cursor: pointer;
    border: 2px solid black;
}

.res-name{
    text-align: center;
}

.filter-btn{
    margin: 10px;
    padding: 5px;
}

.res-container{
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}